---
- name: Download the Logstash Forwarder RPM
  get_url: url=http://packages.elasticsearch.org/logstashforwarder/centos/logstash-forwarder-0.3.1-1.x86_64.rpm dest=/home/vagrant/

- name: Install the Forwarder package
  sudo: yes
  command: rpm -ivh /home/vagrant/logstash-forwarder-0.3.1-1.x86_64.rpm

- name: Install Logstash Forwarder init script to /etc/init.d/logstash-forwarder
  sudo: yes
  template: src=logstash-forwarder-init.j2 dest=/etc/init.d/logstash-forwarder

- name: Install init script companion to /etc/sysconfig/logstash-forwarder
  sudo: yes
  get_url: url=http://logstashbook.com/code/4/logstash_forwarder_redhat_sysconfig dest=/etc/sysconfig/logstash-forwarder

- name: Configure /etc/sysconfig/logstash-forwarder
  sudo: yes
  template: src=logstash-forwarder.j2 dest=/etc/sysconfig/logstash-forwarder #owner=root group=root mode=0775

- name: Copy SSL certificate to the right location
  sudo: yes
  command: cp /tmp/logstash-forwarder.crt /etc/pki/tls/certs/

- name: Configure the /etc/logstash-forwarder
  sudo: yes
  template: src=server_forwarder.conf.j2 dest=/etc/logstash-forwarder #owner=root group=root mode=0664

- name: Add the Forwarder service
  raw: sudo chkconfig --add logstash-forwarder

- name: Start the Forwarder service
  sudo: yes
  service: name=logstash-forwarder state=started enabled=yes
  notify:
    - restart elasticsearch